<!doctype html>
<html lang="en">
<head>
  {{ partial "head_basics.html" . }}

  <link href="/css/page.css" rel="stylesheet" type="text/css">

</head>

<body data-type="page">

<main>
  <article id="content">

    {{ partial "header.html" . }}

    {{ partial "toc.html" . }}

    <section id="matter">
      {{ .Content }}
    </section>

  </article> <!--//#content-->
</main>

{{ partial "footer.html" . }}

</body></html>
