  <meta charset="utf-8" />
  <meta name="description" content="daxo.dev's personal blog" />
  <meta name="author" content="daxo.dev" />
  <meta name="keywords" content="daxodev blog daxo.dev" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ partial "robots-meta.html" . }}
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>

  <title>{{ .Title }} | daxo.dev</title>

  <!-- site analytics -->
  <!-- WARNING: keep this in sync with static/404.html -->
  <script
    async
    defer
    data-domain="daxo.dev"
    src="https://plausible.io/js/plausible.outbound-links.js"></script>

  <!-- Merriweather:400,700 -->
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>

  <!--
    TODO: figure out where to put one-off custom styles...
    SOLUTION: use "leaf bundle" page for these cases; ie:
    https://gohugo.io/content-management/page-bundles/#leaf-bundles
  -->
  <link href="/css/index.css" rel="stylesheet" type="text/css">
