{{ if and (.Fragments) (gt (len .Fragments.HeadingsMap ) 5 ) (.Params.toc) }}
<aside class="toc-aside">
  <details open>
    <summary class="toc-explainer">Table of Contents</summary>
    {{ .TableOfContents }}
  </details>
</aside>
{{ end }}
